<!DOCTYPE html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<title>sticky navigation </title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script>
  	 
  	 function changecolor() {
  	 	var element = document.getElementById("plus");
        element.classList.toggle("minus");
}

  </script>
  <style>
  	.plus{
  		background-image: url("images//arrow-left.png");
    
  	}
  	.minus{
  		background-image: url("images//arrow-right.png");
    
  	}
  </style>
 

 
   </head>
	<body>
		<div class="container">
			<header>
			<div class="main-header">hghgh</div>
			<nav>
				<div class="logo">
					<img src="images/logo.png">
				</div>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Service</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			</header>
			<section class="sec1"></section>
		<section class="content">
			<h1>One morning, when Gregor Samsa woke from troubled 
			dreams.</h1>
			<p>One morning, when Gregor Samsa woke from troubled 
			dreams, he found himself transformed in his bed into 
			a horrible vermin. He lay on his armour-like back, 
			and if he lifted his head a little he could see his 
			brown belly, slightly domed and divided by arches into 
			stiff sections. The bedding was hardly able to cover 
			<strong>strong</strong> it and seemed ready to slide 
			off any moment. His many legs, pitifully thin 
			compared with the size of the rest of him, 
			<a class="external ext" href="#">link</a> waved about 
			helplessly as he looked. "What's happened to me? " he 
			thought. It wasn't a dream. His room, a proper human 
			room although a little too small, lay peacefully 
			between its four familiar walls.</p>
		</section>
		<section class="sec2"></section>
		<section class="content">
			<h1>One morning, when Gregor Samsa woke from troubled 
			dreams.</h1>
			<p>One morning, when Gregor Samsa woke from troubled 
			dreams, he found himself transformed in his bed into 
			a horrible vermin. He lay on his armour-like back, 
			and if he lifted his head a little he could see his 
			brown belly, slightly domed and divided by arches into 
			stiff sections. The bedding was hardly able to cover 
			<strong>strong</strong> it and seemed ready to slide 
			off any moment. His many legs, pitifully thin 
			compared with the size of the rest of him, 
			<a class="external ext" href="#">link</a> waved about 
			helplessly as he looked. "What's happened to me? " he 
			thought. It wasn't a dream. His room, a proper human 
			room although a little too small, lay peacefully 
			between its four familiar walls.</p>
		</section>

		<section class="sec3"></section>
		<section class="content">
			<h1>One morning, when Gregor Samsa woke from troubled 
		dreams.</h1>
			<p>One morning, when Gregor Samsa woke from troubled 
			dreams, he found himself transformed in his bed into 
			a horrible vermin. He lay on his armour-like back, 
			and if he lifted his head a little he could see his 
			brown belly, slightly domed and divided by arches into 
			stiff sections. The bedding was hardly able to cover 
			<strong>strong</strong> it and seemed ready to slide 
			off any moment. His many legs, pitifully thin 
			compared with the size of the rest of him, 
			<a class="external ext" href="#">link</a> waved about 
			helplessly as he looked. "What's happened to me? " he 
			thought. It wasn't a dream. His room, a proper human 
			room although a little too small, lay peacefully 
			between its four familiar walls.</p>
		</section>

		<section class="sec4"></section>
		<section class="content">
			<h1>One morning, when Gregor Samsa woke from troubled 
			dreams.</h1>
			<p>One morning, when Gregor Samsa woke from troubled 
			dreams, he found himself transformed in his bed into 
			a horrible vermin. He lay on his armour-like back, 
			and if he lifted his head a little he could see his 
			brown belly, slightly domed and divided by arches into 
			stiff sections. The bedding was hardly able to cover 
			<strong>strong</strong> it and seemed ready to slide 
			off any moment. His many legs, pitifully thin 
			compared with the size of the rest of him, 
			<a class="external ext" href="#">link</a> waved about 
			helplessly as he looked. "What's happened to me? " he 
			thought. It wasn't a dream. His room, a proper human 
			room although a little too small, lay peacefully 
			between its four familiar walls.</p>
		</section>




			
			
		</div>

		<div><p><img class="plus" id="image1" src="images/arrow-left.png"  onclick="changecolor();"></p></div>
		

	</body>
</html>