<app-header></app-header>
<div class="header">
  <h2>Order Details</h2>
</div>
<div class="result">
    <div *ngIf="orderHistory?.length > 0 else error">
    <table class="table table-hover">
        <thead>
            <tr>
          <td>Name</td><td>OrderId</td><td>Amount</td><td>Mobile Number</td><td>Address</td><td>Date</td><td> Order Status</td>
          <tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of orderHistory" (click)="getData(content,c)" [ngSwitch]="c.statusId">
              <td> {{c.name}}</td><td>{{c.orderNumber}}</td><td>{{c.amount}} rs</td><td>{{c.mobileNumber}}</td><td>{{c.door_no}},{{c.apartment_name}},{{c.road_name}},{{c.city}},{{c.pin}}</td><td>{{c.date}}</td>
              <td><p *ngSwitchCase="2">Order Received </p>
                <p *ngSwitchCase="3">Order Accepted & In Process </p>
                <p *ngSwitchCase="4">Order Is Ready To Dispatch </p>
              </td>
          </tr>
        </tbody>
      </table>
      </div>
      <ng-template #error>NO Record Found</ng-template>  
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Order Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="" *ngFor="let c of orderDetailsBYId">
      <div class="card">
        <div class="card-body">
          <p class="card-title"><span>Product Name : </span> {{c.productName}}</p>
         
          <div class="row">
            <div class="col-md-6"><p class="card-text"> <span>Quantity : </span>{{c.quantity}}</p></div>
            <div class="col-md-6"><p class="card-text"><span>Amount : </span>{{c.amount}} rs</p></div>
          </div>
       
          <p class="card-text"><span>Type : </span>{{c.quantityType}} {{c.type}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5" style="text-align: left;margin-left: 15px;margin-top: 15px;">
      <p>Total Amount : {{order.amount}} rs </p>
    </div>
    <div class="col-md-5" style="text-align: right;margin: 0px;padding: 0px;" [ngSwitch]="order.statusId">
      <button *ngSwitchCase="2" class="btn btn-default" (click)="acceptOrder()">Accept Order</button>
      <button *ngSwitchCase="3"  class="btn btn-primary" (click)="dispatch()">Order Dispatch</button>
      <button *ngSwitchCase="4" class="btn btn-success" (click)="delivery()">Order Delivery</button>
    </div>
  </div>
  <div class="modal-footer" style="margin: 0px;">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>