<!DOCTYPE html>

<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="css\LogAnimation.css" rel="stylesheet" />
    <link href="css\LoginAnimation.css" rel="stylesheet" />
    <title>Process Login</title>
    <link rel ="icon"  href="#"   />
    <style>
        /*url-icon:display-none;*/
        *{
            font-size:15px;
        }
    </style>



</head>
<body>
    <div id="side-panel-pusher">
        <div id="main-container">
            <div id="page-wrap">
                <div id="header-overlapping-helper"></div><div id="page-content" class="no-sidebar-layout">
                    <div class="container">
                        <div id="the-content">
                            <div id="video-background-1" class="ui--video-background-wrapper fullwidth-content clearfix ui--section-content-v-center color--dark" style="margin-top: -30px;  margin-bottom: -12px;">
                                <div class="ui--video-background-holder">
                                    <div class="ui--video-background-video hidden-phone ">
                                        <video autoplay="autoplay" loop="loop" muted="muted" width="640" height="360">
                                            <source src="Video\342241033.mp4" type="video/mp4" />
                                        </video>
                                    </div><div class="ui--video-background-poster"></div><div class="ui--video-background"><div class="ui--gradient"></div></div>
                                </div>
                                <div class="ui--section-content container clearfix">
                                    <div class="ui--animation-in make--fx--flipIn-X ui--pass clearfix" data-fx="fx--flipIn-X" data-delay="200" data-start-delay="0">
                                        
                                        <div class="ui--space clearfix" data-responsive="{&quot;css&quot;:{&quot;height&quot;:{&quot;phone&quot;:null,&quot;tablet&quot;:null,&quot;widescreen&quot;:null}}}"></div><div class="ui-row row">
                                            <div class="ui-column span4"></div>
                                            <div class="ui-column span4" id="save-container" style="background-color: rgba(26, 37, 48, 0.66);padding: 32px;    border-radius: 20px;">
                                                <div class="ui--custom-login ui--pass">
                                                    <div id="login-form-container" class="ui--custom-login login-form-container">
                                                        <form method="post" class="login-form form-horizontal ui-row">
                                                            <div class="form-elements">
                                                                <div class="ui-row row">
                                                                    <p class="control-group">
                                                                        
                                                                        <span class="controls ui--animation">
                                                                             <input type="email" class="form-control" id="email" placeholder="Enter email">
                                                                        </span>
                                                                    </p>
                                                                    <p class="control-group">
                                                                        <small class="pull-right ui--animation">
                                                        
                                                                            <a class="lost_password" onclick="jsfunction()" href="javascript:void(0);">Forgot Password?</a>
                                                                        </small>
                                                                       
                                                                        <span class="controls ui--animation">
                                                                            <input type="email" class="form-control" id="email" placeholder="Enter password">                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="custom-login-form-actions clearfix">

                                                                <input type="hidden" id="_n" name="_n" value="81446ff328" /><input type="hidden" name="_wp_http_referer" value="/login-full-page-video-background/?_wpcf7_is_ajax_call=1&amp;_wpcf7=47&amp;_wpcf7_request_ver=1508305423062&amp;_wpcf7_is_ajax_call=1&amp;_wpcf7=47&amp;_wpcf7_request_ver=1508305594842" />
                                                                <p class="control-group pull-right">
                                                                    <label class="control-label checkbox inline ui--animation" for="rememberme" style="color: #0f80e4;"><input tabindex="100" type="checkbox" name="rememberme" id="rememberme" value="forever" /> Remember me</label>
                                                                </p>
                                                                <p class="control-group pull-left">
                                                                    <button type="submit" class="ui--animation btn btn-primary" tabindex="102" name="wpt_login" value="Login" >Login</button>
                                                                                                                            </p>
                                                            </div>
                                                           
                                                            

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-column span4"></div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

  
    <script src="js\toutypekit.js"></script>
    <script src="js\autoptimize.js"></script>

    

   
   

</body>
</html>
